*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-left: 12px;
  padding: 15px;
  border-radius: 28px;
  background-color: rgba(250, 235, 215, 0.034);
  box-shadow: 0 0 0 1.2px rgba(182, 172, 41, 0.123)
    inset;
    text-transform:uppercase;
}